.prev-btn {
  &:hover {
    background-color: rgba(69, 215, 74, 0.3);
    color: rgba(69, 215, 74, 0.3);
  }
}

.next-btn {
  &:hover {
    background-color: rgba(69, 215, 74, 0.3);
    color: rgba(69, 215, 74, 0.3);
  }
}

.like-Button{
  &:hover{
    color: red;
  }
}


#imgContainer:hover .iconButton {
  opacity: 1;
}