.nav-hover {
  &:hover {
    background-color: rgba(69, 215, 74, 0.3);
  }
}
.post-button {
  &:hover {
    background-color: rgba(69, 215, 74, 0.3);
  }
}
.highlight-buttons {
  &:hover {
    background-color: rgba(69, 215, 74, 0.3);
  }
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}